Мы создаем сайт для интернет продаж метизов, красок и ручного инструмента.

Сайт должен быть простым и удобным в использовании.

Сайт должен быть оптимизирован для мобильных устройств.

Сайт должен быть разработан с использованием Python,HTML, CSS и JavaScript.

Сайт должен быть разработан с использованием фреймворка Django.

Сайт должен быть разработан с использованием Bootstrap.

Сайт должен быть разработан с использованием PostgreSQL.

Сайт должен быть разработан с использованием Redis.

Сайт должен быть разработан с использованием Docker.

Когда пишешь код будь на 100% уверен что ты не ломаешь существующий функционал.



