{% load carts_tags %}
{% load static %}
{% csrf_token %}

<!-- Кнопка корзины -->
<button type="button" class="btn btn-dark btn-secondary d-flex" id="modalButton" aria-expanded="false" data-bs-toggle="modal" data-bs-target="#exampleModal">
    <img class="mx-1" src="{% static 'deps/icons/basket2-fill.svg' %}" alt="Catalog Icon" width="24" height="24">
    {% if request.user.is_authenticated %}
        {% user_carts request as carts %}
        <span id="goods-in-cart-count">{{ carts.count }}</span>
    {% else %}
        <span id="goods-in-cart-count">{{ request.session.cart|length|default:0 }}</span>
    {% endif %}
</button>

<!-- Разметка модального окна корзины -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg">
        <div class="modal-content">
            <div class="modal-header justify-content-center">
                <h5 class="text-center cart-header" id="exampleModalLabel">Кошик</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container px-0" id="cart-items-container">
                    <!-- Включаем универсальный шаблон корзины -->
                    {% include "carts/includes/cart_content.html" with show_buttons=True %}
                </div>
            </div>
        </div>
    </div>
</div>

