{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container mt-4">
    <h1>{{ product.name }}</h1>
    <p>Артикул: {{ product.code }}</p>
    <p>Ціна: {{ product.price }} ₴</p>
    <p>{{ product.description|linebreaks }}</p>
    
    {% if product.quantity > 0 %}
    <div class="mb-3">
        <span class="badge bg-success">
            В наявності ({{ product.quantity }} шт.)
        </span>
    </div>
    
    <form class="add-to-cart-form d-flex align-items-center mb-4" method="post" action="{% url 'cart:cart_add' product.id %}">
        {% csrf_token %}
        <input 
            type="number"
            min="1"
            max="{{ product.quantity }}"
            value="1"
            name="quantity"
            class="form-control quantity-input me-2"
            style="width: 70px;">
     
        <button type="submit" class="btn btn-dark add-to-cart d-flex align-items-center"
            style="background-color: #ffa023; border-color: #ddd; color: white;">
            <img src="{% static 'deps/icons/basket2-fill.svg' %}" 
                alt="В кошик" 
                width="16" 
                class="me-1"
                style="filter: brightness(100);">
            В кошик
        </button>
    </form>
    {% else %}
    <div class="mb-3">
        <span class="badge bg-danger">
            Немає в наявності
        </span>
    </div>
    {% endif %}
    
    <a href="{% url 'goods:subcategory' product.subcategory.slug %}" class="btn btn-secondary">
        Назад до категорії
    </a>
</div>
{% endblock %}