{% extends "base.html" %}
{% load static %}
{% load carts_tags %}

{% block css %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">
<link rel="stylesheet" href="{% static 'deps/css/subcategory_detail.css' %}">
<link rel="stylesheet" href="{% static 'deps/css/my_footer_css.css' %}">
<link rel="stylesheet" href="{% static 'deps/css/search_results.css' %}">
<link rel="stylesheet" href="{% static 'deps/css/my_css.css' %}">

{% endblock %}

{% block content %}
    <div class="row">
        <div class="container mt-4">
            <div class="row justify-content-center">
                <div class="bg-white p-3 mb-4 mx-2 rounded custom-shadow">
                    <h3 class="text-center cart-header">Кошик</h3>               
                        <div class="container px-0" id="cart-items-container">
                        <!-- Используем единый шаблон корзины -->
                        {% include "carts/includes/cart_content.html" %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
<!-- Скрипты для страницы корзины -->
{% endblock %}
