{% extends "base.html" %}
{% load static %}

{% block css %}
  <link rel="stylesheet" href="{% static "deps/css/my_footer_css.css" %}">
{% endblock %}

{% block content %} 
   <div class="mt-5 pt-5 bg-white custom-shadow rounded"> 
      <h1>{{ content }}</h1>
      <p>{{ text_on_page }}</p>

      <h2>{{ cont_values_title }}</h2>
      <ul>
          {% for item in cont_values %}
          <li class="contact-item">
              <img src="{% static item.icon %}" alt="Іконка">
              <span>
                  {% if item.is_address %}
                      <a href="{{ item.maps_link }}" target="_blank">{{ item.text }}</a>
                  {% elif item.is_email %}
                      {{ item.text|safe }}  <!-- Используем фильтр safe для email -->
                  {% else %}
                      {{ item.text }}
                  {% endif %}
              </span>
          </li>
      {% endfor %}
      </ul>

       <p class="m-2">{{ cta }}</p>
   </div>
{% endblock %}


{% block footer %}
  <footer class="footer-custom bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">&copy; FixStar 2024 Всі права захищені</p>
    </div>
  </footer>
{% endblock %}



